* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    height: 96px;
}
header .logo {
    width: 70px;
}
header #navLinks {
    flex-grow: 1;
}
header #navLinks nav {
    margin: 0 auto;
    text-align: center;
}
header nav a {
    padding: 2px 18px;
    text-decoration: none;
    color: rgba(174, 174, 174, 1);
    font-size: 14px;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}
header nav a:hover {
    color: #000000;
}
header #socMedLinks a {
    margin: 0 7px;
}
header #socMedLinks a i {
    transition: all ease-in-out 0.3s;
}
header #socMedLinks a:nth-child(1) i {color: #3b5998;}
header #socMedLinks a:nth-child(2) i {color: #e52d27;}
header #socMedLinks a:nth-child(3) i {color: #55acee;}
header #socMedLinks a:nth-child(4) i {color: #0077b5;}
header #socMedLinks a i:hover {
    color: rgba(174, 174, 174, 1);
}

hr {
    margin-top: 0;
    margin-bottom: 3.5rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

#recentBlogs {
    padding: 0 7%;
    display: grid;
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin-bottom: 3.5rem;    
}
#recentBlogs .recentBlogCard:nth-child(1) {
    background: url("img/annie-spratt-PM4Vu1B0gxk-unsplash.jpg") center/cover no-repeat;
    grid-row: span 2;
    grid-column: span 4;
}
#recentBlogs .recentBlogCard:nth-child(2) {
    background: url("img/oladimeji-odunsi-tUUmR82pq68-unsplash.jpg") center/cover no-repeat;
    grid-row: span 3;
    grid-column: span 2;
}
#recentBlogs .recentBlogCard:nth-child(3) {
    background: url("img/mike-dorner-sf_1ZDA1YFw-unsplash.jpg") center/cover no-repeat;
    grid-row: span 3;
    grid-column: span 2;
}
#recentBlogs .recentBlogCard:nth-child(4) {
    background: url("img/sai-de-silva-httxBNGKapo-unsplash.jpg") center/cover no-repeat;
    grid-row: span 3;
    grid-column: span 2;
}
#recentBlogs .recentBlogCard:nth-child(5) {
    background: url("img/prince-akachi-J1OScm_uHUQ-unsplash.jpg") center/cover no-repeat;
    grid-row: span 3;
    grid-column: span 2;
}
#recentBlogs .recentBlogCard:nth-child(6) {
    background: url("img/matthew-kerslake-BpH--upRlCs-unsplash.jpg") center/cover no-repeat;
    grid-row: span 2;
    grid-column: span 4;
}
#recentBlogs .recentBlogCard {
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(227,220,227,1);
    position: relative;
}
#recentBlogs .recentBlogCard .post-categories {
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}
#recentBlogs .recentBlogCard .post-categories a {
    padding: 3px 7px;
    text-decoration: none;
    color: azure;
    font-weight: 600;
    border-radius: 5px;
}
#recentBlogs .recentBlogCard .post-categories .food, 
#editorPicks .blogCard .imgWrapper .post-categories .food,
#popularCategories .categoryCard .post-categories .food {
    background-color: #81d742;
}
#recentBlogs .recentBlogCard .post-categories .culture, 
#editorPicks .blogCard .imgWrapper .post-categories .culture,
#popularCategories .categoryCard .post-categories .culture {
    background-color: darkgoldenrod;
}
#recentBlogs .recentBlogCard .post-categories .tech, 
#editorPicks .blogCard .imgWrapper .post-categories .tech,
#popularCategories .categoryCard .post-categories .tech {
    background-color: darkorchid;
}
#recentBlogs .recentBlogCard .post-categories .skinHair, 
#editorPicks .blogCard .imgWrapper .post-categories .skinHair,
#popularCategories .categoryCard .post-categories .skinHair {
    background-color: deepskyblue
}
#recentBlogs .recentBlogCard .post-categories .inspiration, 
#editorPicks .blogCard .imgWrapper .post-categories .inspiration,
#popularCategories .categoryCard .post-categories .inspiration {
    background-color: crimson;
}
#recentBlogs .recentBlogCard .post-categories .businessFinance, 
#editorPicks .blogCard .imgWrapper .post-categories .businessFinance,
#popularCategories .categoryCard .post-categories .businessFinance {
    background-color: orangered;
}
#recentBlogs .recentBlogCard .post-details {
    padding: 30px;
    position: absolute;
    bottom: 0;
}
#recentBlogs .recentBlogCard .post-details .post-title {
    font-size: 28px;
    display: block;
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
    word-wrap: break-word;
}
#recentBlogs .recentBlogCard .post-details .post-date {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.adWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7% 3.5rem 7%;
    background-color: #000000;
    height: 14vh;
}
.adWrapper div {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}

#editorPicks {
    padding: 0 7%;
    display: grid;
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    grid-gap: 28px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin-bottom: 3.5rem;
}
#editorPicksHeader {
    padding: 0 7%;
}
#editorPicksHeader h2 {
    text-align: left;
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 1.25;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}
#editorPicks .blogCard {
    grid-row: span 5;
    grid-column: span 2;
}
#editorPicks .blogCard .imgWrapper {
    height: 45%;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(227,220,227,1); 
}
#editorPicks .blogCard:nth-child(1) .imgWrapper {
    background: url("img/prince-akachi-J1OScm_uHUQ-unsplash.jpg") center/cover no-repeat;
}
#editorPicks .blogCard:nth-child(2) .imgWrapper {
    background: url("img/mike-dorner-sf_1ZDA1YFw-unsplash.jpg") center/cover no-repeat;
}
#editorPicks .blogCard:nth-child(3) .imgWrapper {
    background: url("img/matthew-kerslake-BpH--upRlCs-unsplash.jpg") center/cover no-repeat;
}
#editorPicks .blogCard .post-title {
    font-size: 24px;
    display: block;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
    word-wrap: break-word;
}
#editorPicks .blogCard .post-author, #editorPicks .blogCard .post-date {
    display: inline-block;
    color: #666666;
    font-size: 14px;
}
#editorPicks .blogCard .post-author .post-avatar {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
#editorPicks .blogCard .post-author::after {
    content: "-";
    margin-left: 10px;
    margin-right: 5px;
}
#editorPicks .blogCard .post-excerpt {
    margin: 20px 0;
    font-size: 16px;
    color: #666666;
    text-align: justify;
    line-height: 1.75;
}
#editorPicks .blogCard .imgWrapper .post-categories {
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 5px;
    font-size: 10px;
    letter-spacing: 2px;
}
#editorPicks .blogCard .imgWrapper .post-categories a{
    padding: 3px 7px;
    text-decoration: none;
    color: azure;
    font-weight: 600;
    border-radius: 5px;
}

#popularCategories {
    padding: 0 7%;
    display: grid;
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    grid-gap: 28px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 3.5rem;
}
#popularCategories .categoryCard {
    grid-row: span 3;
    grid-column: span 2;

}
#popularCategories .categoryCard {
    position: relative;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(227,220,227,1);
}
#popularCategories .categoryCard:nth-child(1) {background: url("img/edgar-castrejon-1CsaVdwfIew-unsplash.jpg") center/cover no-repeat;}
#popularCategories .categoryCard:nth-child(2) {background: url("img/eloise-ambursley-59Td06omPVc-unsplash.jpg") center/cover no-repeat;}
#popularCategories .categoryCard:nth-child(3) {background: url("img/linkedin-sales-navigator-EI50ZDA-l8Y-unsplash.jpg") center/cover no-repeat;}
#popularCategories .categoryCard:nth-child(4) {background: url("img/rory-carson-6RxDN3vM45g-unsplash.jpg") center/cover no-repeat;}
#popularCategories .categoryCard .post-categories {
    position: absolute;
    font-size: 10px;
    letter-spacing: 2px;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    display: inline-table;
    padding-bottom: 50px;
}
#popularCategories .categoryCard .post-categories a {
    padding: 13px 30px;
    font-size: 12px;
    text-decoration: none;
    color: azure;
    font-weight: 600;
    border-radius: 5px;
    opacity: 0.8;
}